## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

2022-10-26 23:30:38.143127: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN'],axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
cutoff = 100
names_to_replace = application_df['NAME'].value_counts().loc[lambda x : x<cutoff].index

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 100
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().loc[lambda x : x<cutoff].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 100
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<cutoff].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_list = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

application_df_converted = pd.get_dummies(application_df, prefix=cat_list)
application_df_converted.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df_converted['IS_SUCCESSFUL'].values
X = application_df_converted.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                2460

 dense_1 (Dense)             (None, 30)                930

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 3,421
Trainable params: 3,421
Non-trainable params: 0
_________________________________________________________________

2022-10-26 23:30:57.412664: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Create a callback that saves the model's weights every five epochs
checkpoint_path = "Results/cp-{epoch:04d}.ckpt"
batch_size = 804

cp_callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                                                 save_weights_only=True,
                                                 verbose=1,
                                                 save_freq=5*batch_size)

nn.save_weights(checkpoint_path.format(epoch=0))

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 917us/step - loss: 0.5244 - accuracy: 0.7369
Epoch 2/100
804/804 [==============================] - 1s 891us/step - loss: 0.4960 - accuracy: 0.7524
Epoch 3/100
804/804 [==============================] - 1s 880us/step - loss: 0.4912 - accuracy: 0.7572
Epoch 4/100
804/804 [==============================] - 1s 891us/step - loss: 0.4891 - accuracy: 0.7564
Epoch 5/100
784/804 [============================>.] - ETA: 0s - loss: 0.4878 - accuracy: 0.7587
Epoch 5: saving model to Results/cp-0005.ckpt
804/804 [==============================] - 1s 924us/step - loss: 0.4878 - accuracy: 0.7588
Epoch 6/100
804/804 [==============================] - 1s 889us/step - loss: 0.4873 - accuracy: 0.7591
Epoch 7/100
804/804 [==============================] - 1s 888us/step - loss: 0.4854 - accuracy: 0.7590
Epoch 8/100
804/804 [==============================] - 1s 878us/step - loss: 0.4846 - accuracy: 0.7599
Epoch 9/100
804/804 [==============================] - 1s 879us/step - loss: 0.4843 - accuracy: 0.7616
Epoch 10/100
748/804 [==========================>...] - ETA: 0s - loss: 0.4831 - accuracy: 0.7619
Epoch 10: saving model to Results/cp-0010.ckpt
804/804 [==============================] - 1s 894us/step - loss: 0.4834 - accuracy: 0.7612
Epoch 11/100
804/804 [==============================] - 1s 883us/step - loss: 0.4829 - accuracy: 0.7617
Epoch 12/100
804/804 [==============================] - 1s 890us/step - loss: 0.4822 - accuracy: 0.7601
Epoch 13/100
804/804 [==============================] - 1s 880us/step - loss: 0.4815 - accuracy: 0.7629
Epoch 14/100
804/804 [==============================] - 1s 885us/step - loss: 0.4815 - accuracy: 0.7618
Epoch 15/100
791/804 [============================>.] - ETA: 0s - loss: 0.4814 - accuracy: 0.7619
Epoch 15: saving model to Results/cp-0015.ckpt
804/804 [==============================] - 1s 912us/step - loss: 0.4814 - accuracy: 0.7620
Epoch 16/100
804/804 [==============================] - 1s 888us/step - loss: 0.4805 - accuracy: 0.7629
Epoch 17/100
804/804 [==============================] - 1s 903us/step - loss: 0.4803 - accuracy: 0.7609
Epoch 18/100
804/804 [==============================] - 1s 903us/step - loss: 0.4804 - accuracy: 0.7622
Epoch 19/100
804/804 [==============================] - 1s 890us/step - loss: 0.4797 - accuracy: 0.7635
Epoch 20/100
770/804 [===========================>..] - ETA: 0s - loss: 0.4786 - accuracy: 0.7642
Epoch 20: saving model to Results/cp-0020.ckpt
804/804 [==============================] - 1s 942us/step - loss: 0.4789 - accuracy: 0.7642
Epoch 21/100
804/804 [==============================] - 1s 980us/step - loss: 0.4790 - accuracy: 0.7638
Epoch 22/100
804/804 [==============================] - 1s 912us/step - loss: 0.4784 - accuracy: 0.7638
Epoch 23/100
804/804 [==============================] - 1s 908us/step - loss: 0.4788 - accuracy: 0.7626
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4785 - accuracy: 0.7640
Epoch 25/100
803/804 [============================>.] - ETA: 0s - loss: 0.4786 - accuracy: 0.7639
Epoch 25: saving model to Results/cp-0025.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4785 - accuracy: 0.7639
Epoch 26/100
804/804 [==============================] - 1s 899us/step - loss: 0.4779 - accuracy: 0.7633
Epoch 27/100
804/804 [==============================] - 1s 901us/step - loss: 0.4779 - accuracy: 0.7625
Epoch 28/100
804/804 [==============================] - 1s 937us/step - loss: 0.4774 - accuracy: 0.7633
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4774 - accuracy: 0.7649
Epoch 30/100
790/804 [============================>.] - ETA: 0s - loss: 0.4772 - accuracy: 0.7647
Epoch 30: saving model to Results/cp-0030.ckpt
804/804 [==============================] - 1s 912us/step - loss: 0.4774 - accuracy: 0.7646
Epoch 31/100
804/804 [==============================] - 1s 888us/step - loss: 0.4769 - accuracy: 0.7654
Epoch 32/100
804/804 [==============================] - 1s 886us/step - loss: 0.4765 - accuracy: 0.7655
Epoch 33/100
804/804 [==============================] - 1s 890us/step - loss: 0.4768 - accuracy: 0.7658
Epoch 34/100
804/804 [==============================] - 1s 918us/step - loss: 0.4764 - accuracy: 0.7649
Epoch 35/100
789/804 [============================>.] - ETA: 0s - loss: 0.4764 - accuracy: 0.7662
Epoch 35: saving model to Results/cp-0035.ckpt
804/804 [==============================] - 1s 914us/step - loss: 0.4762 - accuracy: 0.7663
Epoch 36/100
804/804 [==============================] - 1s 936us/step - loss: 0.4759 - accuracy: 0.7658
Epoch 37/100
804/804 [==============================] - 1s 905us/step - loss: 0.4760 - accuracy: 0.7654
Epoch 38/100
804/804 [==============================] - 1s 925us/step - loss: 0.4758 - accuracy: 0.7645
Epoch 39/100
804/804 [==============================] - 1s 907us/step - loss: 0.4754 - accuracy: 0.7658
Epoch 40/100
773/804 [===========================>..] - ETA: 0s - loss: 0.4750 - accuracy: 0.7660
Epoch 40: saving model to Results/cp-0040.ckpt
804/804 [==============================] - 1s 933us/step - loss: 0.4755 - accuracy: 0.7658
Epoch 41/100
804/804 [==============================] - 1s 917us/step - loss: 0.4751 - accuracy: 0.7661
Epoch 42/100
804/804 [==============================] - 1s 914us/step - loss: 0.4748 - accuracy: 0.7660
Epoch 43/100
804/804 [==============================] - 1s 912us/step - loss: 0.4751 - accuracy: 0.7672
Epoch 44/100
804/804 [==============================] - 1s 922us/step - loss: 0.4748 - accuracy: 0.7667
Epoch 45/100
773/804 [===========================>..] - ETA: 0s - loss: 0.4738 - accuracy: 0.7671
Epoch 45: saving model to Results/cp-0045.ckpt
804/804 [==============================] - 1s 936us/step - loss: 0.4745 - accuracy: 0.7662
Epoch 46/100
804/804 [==============================] - 1s 922us/step - loss: 0.4747 - accuracy: 0.7663
Epoch 47/100
804/804 [==============================] - 1s 918us/step - loss: 0.4743 - accuracy: 0.7666
Epoch 48/100
804/804 [==============================] - 1s 920us/step - loss: 0.4742 - accuracy: 0.7665
Epoch 49/100
804/804 [==============================] - 1s 918us/step - loss: 0.4741 - accuracy: 0.7657
Epoch 50/100
762/804 [===========================>..] - ETA: 0s - loss: 0.4739 - accuracy: 0.7674
Epoch 50: saving model to Results/cp-0050.ckpt
804/804 [==============================] - 1s 945us/step - loss: 0.4739 - accuracy: 0.7672
Epoch 51/100
804/804 [==============================] - 1s 928us/step - loss: 0.4742 - accuracy: 0.7678
Epoch 52/100
804/804 [==============================] - 1s 919us/step - loss: 0.4738 - accuracy: 0.7661
Epoch 53/100
804/804 [==============================] - 1s 916us/step - loss: 0.4736 - accuracy: 0.7657
Epoch 54/100
804/804 [==============================] - 1s 921us/step - loss: 0.4732 - accuracy: 0.7666
Epoch 55/100
776/804 [===========================>..] - ETA: 0s - loss: 0.4729 - accuracy: 0.7676
Epoch 55: saving model to Results/cp-0055.ckpt
804/804 [==============================] - 1s 927us/step - loss: 0.4738 - accuracy: 0.7675
Epoch 56/100
804/804 [==============================] - 1s 921us/step - loss: 0.4732 - accuracy: 0.7671
Epoch 57/100
804/804 [==============================] - 1s 919us/step - loss: 0.4731 - accuracy: 0.7670
Epoch 58/100
804/804 [==============================] - 1s 914us/step - loss: 0.4732 - accuracy: 0.7671
Epoch 59/100
804/804 [==============================] - 1s 932us/step - loss: 0.4730 - accuracy: 0.7675
Epoch 60/100
802/804 [============================>.] - ETA: 0s - loss: 0.4724 - accuracy: 0.7677
Epoch 60: saving model to Results/cp-0060.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4726 - accuracy: 0.7675
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4727 - accuracy: 0.7680
Epoch 62/100
804/804 [==============================] - 1s 918us/step - loss: 0.4728 - accuracy: 0.7666
Epoch 63/100
804/804 [==============================] - 1s 924us/step - loss: 0.4727 - accuracy: 0.7674
Epoch 64/100
804/804 [==============================] - 1s 917us/step - loss: 0.4726 - accuracy: 0.7678
Epoch 65/100
772/804 [===========================>..] - ETA: 0s - loss: 0.4729 - accuracy: 0.7664
Epoch 65: saving model to Results/cp-0065.ckpt
804/804 [==============================] - 1s 933us/step - loss: 0.4725 - accuracy: 0.7669
Epoch 66/100
804/804 [==============================] - 1s 916us/step - loss: 0.4724 - accuracy: 0.7669
Epoch 67/100
804/804 [==============================] - 1s 915us/step - loss: 0.4720 - accuracy: 0.7668
Epoch 68/100
804/804 [==============================] - 1s 922us/step - loss: 0.4720 - accuracy: 0.7667
Epoch 69/100
804/804 [==============================] - 1s 923us/step - loss: 0.4719 - accuracy: 0.7659
Epoch 70/100
766/804 [===========================>..] - ETA: 0s - loss: 0.4726 - accuracy: 0.7664
Epoch 70: saving model to Results/cp-0070.ckpt
804/804 [==============================] - 1s 941us/step - loss: 0.4722 - accuracy: 0.7668
Epoch 71/100
804/804 [==============================] - 1s 915us/step - loss: 0.4714 - accuracy: 0.7674
Epoch 72/100
804/804 [==============================] - 1s 923us/step - loss: 0.4719 - accuracy: 0.7676
Epoch 73/100
804/804 [==============================] - 1s 917us/step - loss: 0.4718 - accuracy: 0.7666
Epoch 74/100
804/804 [==============================] - 1s 923us/step - loss: 0.4715 - accuracy: 0.7680
Epoch 75/100
774/804 [===========================>..] - ETA: 0s - loss: 0.4710 - accuracy: 0.7688
Epoch 75: saving model to Results/cp-0075.ckpt
804/804 [==============================] - 1s 933us/step - loss: 0.4715 - accuracy: 0.7684
Epoch 76/100
804/804 [==============================] - 1s 911us/step - loss: 0.4711 - accuracy: 0.7674
Epoch 77/100
804/804 [==============================] - 1s 919us/step - loss: 0.4709 - accuracy: 0.7664
Epoch 78/100
804/804 [==============================] - 1s 959us/step - loss: 0.4712 - accuracy: 0.7670
Epoch 79/100
804/804 [==============================] - 1s 911us/step - loss: 0.4714 - accuracy: 0.7682
Epoch 80/100
778/804 [============================>.] - ETA: 0s - loss: 0.4711 - accuracy: 0.7688
Epoch 80: saving model to Results/cp-0080.ckpt
804/804 [==============================] - 1s 925us/step - loss: 0.4711 - accuracy: 0.7683
Epoch 81/100
804/804 [==============================] - 1s 918us/step - loss: 0.4707 - accuracy: 0.7682
Epoch 82/100
804/804 [==============================] - 1s 915us/step - loss: 0.4711 - accuracy: 0.7682
Epoch 83/100
804/804 [==============================] - 1s 920us/step - loss: 0.4710 - accuracy: 0.7672
Epoch 84/100
804/804 [==============================] - 1s 914us/step - loss: 0.4708 - accuracy: 0.7674
Epoch 85/100
768/804 [===========================>..] - ETA: 0s - loss: 0.4709 - accuracy: 0.7675
Epoch 85: saving model to Results/cp-0085.ckpt
804/804 [==============================] - 1s 938us/step - loss: 0.4705 - accuracy: 0.7678
Epoch 86/100
804/804 [==============================] - 1s 914us/step - loss: 0.4706 - accuracy: 0.7667
Epoch 87/100
804/804 [==============================] - 1s 904us/step - loss: 0.4710 - accuracy: 0.7671
Epoch 88/100
804/804 [==============================] - 1s 900us/step - loss: 0.4708 - accuracy: 0.7678
Epoch 89/100
804/804 [==============================] - 1s 895us/step - loss: 0.4706 - accuracy: 0.7672
Epoch 90/100
782/804 [============================>.] - ETA: 0s - loss: 0.4693 - accuracy: 0.7687
Epoch 90: saving model to Results/cp-0090.ckpt
804/804 [==============================] - 1s 919us/step - loss: 0.4707 - accuracy: 0.7675
Epoch 91/100
804/804 [==============================] - 1s 909us/step - loss: 0.4707 - accuracy: 0.7690
Epoch 92/100
804/804 [==============================] - 1s 897us/step - loss: 0.4706 - accuracy: 0.7685
Epoch 93/100
804/804 [==============================] - 1s 895us/step - loss: 0.4705 - accuracy: 0.7675
Epoch 94/100
804/804 [==============================] - 1s 906us/step - loss: 0.4705 - accuracy: 0.7675
Epoch 95/100
779/804 [============================>.] - ETA: 0s - loss: 0.4697 - accuracy: 0.7688
Epoch 95: saving model to Results/cp-0095.ckpt
804/804 [==============================] - 1s 992us/step - loss: 0.4701 - accuracy: 0.7683
Epoch 96/100
804/804 [==============================] - 1s 921us/step - loss: 0.4706 - accuracy: 0.7685
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4700 - accuracy: 0.7676
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7680
Epoch 99/100
804/804 [==============================] - 1s 942us/step - loss: 0.4701 - accuracy: 0.7685
Epoch 100/100
777/804 [===========================>..] - ETA: 0s - loss: 0.4701 - accuracy: 0.7682
Epoch 100: saving model to Results/cp-0100.ckpt
804/804 [==============================] - 1s 926us/step - loss: 0.4701 - accuracy: 0.7681

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5001 - accuracy: 0.7565 - 286ms/epoch - 1ms/step
Loss: 0.500131368637085, Accuracy: 0.7565014362335205

In [19]:
# Export our model to HDF5 file
nn.save('Results/AlphabetSoupCharity_Optimization.h5')